<% include('layouts/layout') %>
<h1>Dashboard</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Nama</th>
      <th>No. WA</th>
      <th>Tipe Desain</th>
      <th>Deskripsi</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(order => { %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.design_type %></td>
      <td><%= order.description %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
